<nb-card accent="info">
    <nb-card-header>Universidad Mariano Gálvez de Guatemala</nb-card-header>
    <nb-card-body>
        <h1>
            Información integrantes y desarrolladores de Red Social
        </h1>
        <nb-layout>
            <nb-layout-column>
                <nb-card>
                    <nb-card-body>

                        <nb-user size="large" name="José Manuel García" title="0900-13-689">
                        </nb-user>

                    </nb-card-body>
                </nb-card>
                <nb-card>
                    <nb-card-body>

                        <nb-user size="large" name="Jerzon Abraham Lux Quiñonez" title="0900-13-6383">
                        </nb-user>

                    </nb-card-body>
                </nb-card>
                <nb-card>
                    <nb-card-body>

                        <nb-user size="large" name="Kevin Saúl Canel Hernández" title="0900-15-3600">
                        </nb-user>

                    </nb-card-body>
                </nb-card>
                <nb-card>
                    <nb-card-body>

                        <nb-user size="large" name="Obed Andres Cardona Cañas" title="0900-11-8883">
                        </nb-user>

                    </nb-card-body>
                </nb-card>
                <nb-card>
                    <nb-card-body>

                        <nb-user size="large" name="Luis Calero Boror" title="0900-15-16120">
                        </nb-user>

                    </nb-card-body>
                </nb-card>
            </nb-layout-column>
        </nb-layout>
    </nb-card-body>
</nb-card>
